.inputContainer {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    height: 52px;
    border: 1px solid #d9dde4;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: text;
    transition: 0.25s border-color;
}

.inputContainer.focused .prefix {
    color: var(--color-primary);
}

.inputContainer.smallHeight {
    height: 40px;
}

.inputContainer.error {
    border-color: #ff5c21 !important;
}

.inputContainer.error .statusIcon svg,
.inputContainer.error .statusText,
.inputContainer.error .fieldTip {
    color: #ff5c21;
}

.inputContainer.success {
    border-color: #7dd130;
}

.inputContainer.success .statusIcon svg,
.inputContainer.success .statusText,
.inputContainer.success .fieldTip {
    color: #7dd130;
}

.inputContainer.smallHeight input {
    font-size: 14px;
}

.inputContainer.loading .label,
.inputContainer.loading .suffix,
.inputContainer.loading .input {
    cursor: progress;
}

.inputContainer:hover {
    border-color: var(--color-primary);
}

.inputContainer:hover .label:not(.static) span {
    transform: translateX(0) !important;
}

.inputContainer.focused {
    border-color: var(--color-primary);
}

.inputContainer.focused .label:not(.notFocused) {
    transform: translateY(-10px);
    font-size: 12px;
}

.inputContainer.focused .customIcon {
    color: var(--color-primary);
}

.inputContainer.fullWidth {
    max-width: 100% !important;
}

.inputContainer.disabled {
    background: #f9fafb;
}

.inputContainer.disabled .input {
    caret-color: transparent;
}

.inputContainer.hasValue .label {
    transform: translateY(-10px);
    font-size: 12px;
}

.inputContainer.hasValue .customIcon {
    color: var(--color-primary);
}

.inputBox {
    display: flex;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.inputWrap {
    position: relative;
    width: 100%;
    flex: 1;
}

.label {
    display: flex;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-left: 20px;
    font-size: 15px;
    line-height: 1.2;
    color: #7e8289;
    transition-duration: 0.15s;
    transition-property: color, font-size, transform;
    z-index: 0;
    cursor: text;
    user-select: none;
}

.label:not(.static) {
    width: 100%;
    white-space: nowrap;
    max-width: calc(100% - 40px);
    overflow: hidden;
}

.label:not(.static) span {
    transition-property: transform, margin-left;
    transition-timing-function: linear, linear;
}

.label:not(.static)::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    width: 20px;
    height: 10px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    /*content: "";*/
}

.label.static {
    position: static;
    padding-left: 0;
    padding-bottom: 6px;
}

.inputContainer.hasPrefix .label,
.inputContainer.hasPrefix .input {
    padding-left: 15px;
}

.input {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-width: 150px;
    height: 100%;
    padding: 10px 10px 8px 20px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.25s border-color;
    caret-color: var(--color-primary);
    border-radius: 6px;
}

.input.hideCaret {
    caret-color: transparent;
}

.input.vCenter {
    padding: 18px 0 17px 24px !important;
}

.input.typeCode {
    box-sizing: content-box;
    font-size: 16px;
    letter-spacing: 50px;
    font-family: 'Courier', monospace;
}

@media screen and (max-width: 500px) {
    .inputContainer.typeCode6 {
        max-width: 300px !important;
    }

    .input.typeCode6 {
        padding-left: 19px !important;
        letter-spacing: 40px;
    }
}

.input.withLabel {
    padding-top: 25px;
}

.statusIcon {
    display: flex;
    align-items: center;
}

.fieldTip,
.statusText {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    font-size: 13px;
    color: #b8bdc4;
}

.fieldTip {
    color: #b8bdc4;
}

.suffix {
    display: flex;
    align-items: center;
    padding: 0 20px 0 5px;
    transform-origin: center center;
    transition: 0.25s color;
    cursor: pointer;
}

.suffix svg {
    color: var(--color-primary);
    transition: 0.25s transform;
}

.suffix.opened svg {
    transform: scaleY(-1);
}

.suffix:hover svg {
    color: var(--color-primary);
}

.typeLabel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    border-left: 1px solid #d9dde4;
    border-radius: 0 5px 5px 0;
    background: #f9fafb;
    font-size: 12px;
    color: #35373b;
    transition: 0.25s border-color;
}

.prefix {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 15px;
    color: #b8bdc4;
    transition: 0.25s color;
    z-index: 1;
}

.optionItem {
    display: flex;
    align-items: center;
    padding: 6px 18px;
    margin: 0 -10px;
    font-size: 15px;
    white-space: nowrap;
    transition: 0.25s background-color;
    cursor: pointer;
}

.optionItem:first-child {
    margin-top: 6px;
}

.optionItem:last-child {
    margin-bottom: 6px;
}

.optionItem:hover,
.optionItem.selected,
.optionItem.focused {
    background-color: var(--color-gray);
}

.optionItem.selected {
    font-weight: 600;
}

.optionItem svg {
    margin-left: 8px;
    color: var(--color-primary);
}

.numberDelimiter {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.codeDelimiter {
    width: 1px;
    height: 100%;
    background-color: #d9dde4;
}

.cursorPointer .label,
.cursorPointer .input {
    cursor: pointer;
}

.rightMode {
    left: auto !important;
}

.rightMode .optionItem {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
}

.optionLeftContent {
    margin-left: -4px;
    margin-right: 15px;
}

.inputContainer.view-text {
    display: inline-flex;
    width: auto;
    max-width: 100% !important;
    border: none;
    height: auto;
    cursor: pointer;
}

.inputContainer.view-text .input {
    min-width: auto;
    width: auto;
    padding: 0;
    cursor: pointer;

}

.inputContainer.disableTyping {
    cursor: pointer;
}

.inputContainer.disableTyping .input {
    caret-color: transparent;
    cursor: pointer;
}

.inputContainer.view-text .suffix {
    padding: 0;
}

.inputContainer.view-underscore {
    height: 44px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #d9dde4;
}

.inputContainer.view-underscore .input {
    border-radius: 0;
    padding: 0;
}

.inputContainer.view-underscore .suffix {
    padding: 0;
}

