.rightIconBlock {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    margin: 0 -15px;
    padding: 0 15px;
}

.rightIconBlock svg {
    margin-left: 6px;
    color: var(--color-primary);
    transform-origin: center center;
    transition: 0.25s transform;
}

.chevron {
    margin-left: 10px;
    color: #000 !important;
    transform-origin: center center;
    transition: 0.25s transform;
}

.chevron.opened {
    transform: scaleY(-1);
}

.suffixIcon {
    transition: 0.25s transform;
}

.suffixIcon.openedOptions,
.rightIconBlock.opened svg {
    transform: scaleY(-1);
}

.suffixIcon:hover {
    color: var(--color-primary);
}

.optionItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 6px 18px;
    margin: 0 -14px;
    font-size: 15px;
    transition: 0.25s background-color;
    cursor: pointer;
}

.optionItem:first-child {
    margin-top: 6px;
}

.optionItem:last-child {
    margin-bottom: 6px;
}

.optionItem:hover,
.optionItem.selected,
.optionItem.focused {
    background-color: var(--color-gray);
}

.optionItem:hover::after,
.optionItem.focused::after {
    position: absolute;
    left: 0;
    width: 2px;
    top: 0;
    bottom: 0;
    background-color: var(--color-primary);
    content: "";
}

.optionItem.selected {
    font-weight: 600;
}

.optionItem svg {
    margin-left: 8px;
    color: var(--color-primary);
}

.rightMode {
    left: auto !important;
}

.rightMode .optionItem {
    padding-left: 12px;
    padding-right: 12px;
    font-size: 12px;
}

.optionPrefix {
    margin-left: -4px;
    margin-right: 15px;
}

.optionSuffix {
    font-size: 14px;
}

.suffixText {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
    height: 100%;
    margin-right: 16px;
    font-size: 10px;
    font-weight: 300;
    box-sizing: border-box;
}

.suffixText b {
    font-weight: 600;
}

.selectedOption {
    background-color: var(--color-gray);
}

.nativeSelect {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.nativeRightMode {
    left: auto;
    width: auto;
    min-width: 70px;
    z-index: 1;
}

.multiplePrefix {
    display: flex;
    flex-wrap: wrap;
    margin: 2px -3px;
}

.multiSelectItem {
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    padding: 2px 0 2px 6px;
    background: var(--color-gray-lighter);
    border: 1px solid var(--color-gray-darker);
    color: var(--text-color);
    font-size: 13px;
    margin: 3px;
}

.multiSelectItem svg {
    padding: 8px 6px 8px 3px;
    margin-left: 4px;
    color: var(--color-gray-darkest);
    cursor: pointer;
}
