:global(body.theme-capitalist) {
    --base-hue: 83;
    --base-saturation: 74%;
    --base-lightness: 42%;
    --text-color: #1D2534;

    --color-gray: #F4F6F7;
    --color-gray-lighter: #F9FAFB;
    --color-gray-darker: #DFE2E8;
    --color-gray-darkest: #B8BDC4;
}
