.space {
    display: flex;
}

.space.row > * {
    margin-bottom: 0 !important;
}

.space.row.size-s > * {
    margin-right: 8px;
}

.space.column {
    flex-direction: column;
}

.space.column.size-s > * {
    margin-right: 0;
    margin-bottom: 8px;
}

.space.row.size-m > * {
    margin-right: 16px;
}

.space.column.size-m > * {
    margin-right: 0;
    margin-bottom: 16px;
}

.space.row.size-l > * {
    margin-right: 32px;
}

.space.column.size-l > * {
    margin-right: 0;
    margin-bottom: 32px;
}

.space > *:last-child {
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}
