body {
    --base-hue: 214;
    --base-saturation: 100%;
    --base-lightness: 57%;

    --text-color: #fff;
    --second-text-color: #95ABD6;
    --third-text-color: #687CA5;
    --cprn-bg-color: #28344A;
    --cprn-bg-color-2: #3A4C6F;
    --cprn-bg-color-3: #2F3E5B;
    --box-shadow-1: none;
    --box-shadow-2: none;
}
