.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 15px;
    box-sizing: border-box;
    border: 1px solid var(--third-text-color);
    border-radius: 6px;
    transition: .25s border-color;
    color: var(--third-text-color);
}

.empty:hover {
    border: 1px solid var(--color-gray-darkest);
}

.empty svg {
    margin-bottom: 10px !important;
    color: var(--cprn-bg-color-3);
}

.empty.center {
    text-align: center;
}
