.surface {
    width: 100%;
    background: var(--cprn-bg-color);
    box-sizing: border-box;
    box-shadow: var(--box-shadow-1);
    border-radius: 6px;
    transition: box-shadow .25s, transform .25s;
}

.surface:not(.noSurfacing):hover {
    transform: translateY(-4px);
    box-shadow: var(--box-shadow-2);
}

@media screen and (max-width: 600px) {
    .surface {
        padding: 24px;
    }
}

@media screen and (max-width: 420px) {
    .surface {
        padding: 20px;
    }
}
